
$grid-column-gap: 200;

//  grid-column-gap: 15px;
@mixin grid-column-gap {

  @for $i from 1 through $grid-column-gap {

    $gap: em($i);
    .gcg-#{$i} {grid-column-gap: $gap;}
    
  }

}

@include grid-column-gap;


$gcrg-size: 12;

@mixin grid-column-responsive-gap {

  @for $i from 1 through $gcrg-size {

    @media (max-width: em(575)) {

      .gcg-xm-#{$i} {

        grid-column-gap: repeat($i, 1fr);

      }

    }

    @media (min-width: em(576)) {

      .gcg-sd-#{$i} {

        grid-column-gap: repeat($i, 1fr);

      }

    }

    @media (min-width: em(768)) {

      .gcg-md-#{$i} {

        grid-column-gap: repeat($i, 1fr);

      }

    }

    @media (min-width: em(992)) {

      .gcg-ld-#{$i} {

        grid-column-gap: repeat($i, 1fr);

      }

    }

    @media (min-width: em(1200)) {

      .gcg-xl-#{$i} {

        grid-column-gap: repeat($i, 1fr);

      }

    }

  }

}

@include grid-column-responsive-gap;