$margin-size: 200;

@mixin margin-classes {
  @for $i from 1 through $margin-size {
    $margin: em($i);
    /* margin #{$margin} */
    .m-#{$i}  {margin: $margin;}
    .ml-#{$i} {margin-left: $margin;}
    .mr-#{$i} {margin-right: $margin;}
    .mt-#{$i} {margin-top: $margin;}
    .mb-#{$i} {margin-bottom: $margin;}
    .mx-#{$i} {margin-left: $margin; margin-right: $margin;}
    .my-#{$i} {margin-top: $margin; margin-bottom: $margin;}

    .-m-#{$i}  {margin: -$margin;}
    .-ml-#{$i} {margin-left: -$margin;}
    .-mr-#{$i} {margin-right: -$margin;}
    .-mt-#{$i} {margin-top: -$margin;}
    .-mb-#{$i} {margin-bottom: -$margin;}
    .-mx-#{$i} {margin-left: -$margin; margin-right: -$margin;}
    .-my-#{$i} {margin-top: -$margin; margin-bottom: -$margin;}

  }
}

@include margin-classes;
